// colors
$dark-blue: #101820;
$teal: #30d3ad;
$white: #fefefe;
$white-shade: #f5f5f5;

.candidate-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.candidate-info {
  display: flex;
  margin-left: 25%;
  background-color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 400px;
  width: 50%;
  border-radius: 10px;

  .candidate-data {
    font-size: 20px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    margin: 0;
    margin-top: 10px;
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 15px;
  }

  img {
    border-radius: 20px;
    padding: 10px;
  }

  span {
    box-sizing: border-box;
    font-size: 25px;
    color: $dark-blue;
    padding: 5px;
    border-radius: 10px;
    background-color: $white-shade;
  }
}
