// colors
$dark-blue: #101820;
$teal: #30d3ad;
$white: #fefefe;

.candidate-wrapper {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.candidate-info {
  display: flex;
  margin-left: 25%;
  background-color: $teal;
  height: 400px;
  width: 50%;
  border-radius: 10px;

  .candidate-data {
    font-size: 20px;
    margin: 20px auto;
    border: 0.5px solid $dark-blue;
    border-radius: 10px;
    padding: 15px;
  }

  img{
    border-radius: 20px;
    padding: 10px;
  }

  span {
    font-size: 25px;
    font-weight: bold;
  }

  .data-title {
    margin: 10px;
  }
}
