// colors
$dark-blue: #101820;
$teal: #30d3ad;
$white: #fefefe;
.modal-bg {
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: $white;
    height: 500px;
    width: 1000px;
    position: absolute;
    border-radius: 10px;
    display: flex;

    .n-c {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      min-width: 50%;

      h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $dark-blue;
        margin-bottom: 5px;
      }

      #textarea {
        text-align: center;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        text-transform: none;
        font-weight: 500;
        color: #101820;
        margin-top: 7px;
        border: 1px solid #e4e4e4;
        border-radius: 10px;

        &::-webkit-scrollbar {
          width: 10px;
          background: $dark-blue;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $teal;
          border: 2px solid #27967c;
        }
      }

      span {
        font-weight: bold;
        color: $teal;
        text-transform: uppercase;
      }
    }

    .modal-image {
      display: flex;
      img {
        width: 500px;
        height: 500px;
        border-radius: 0 10px 10px 0;
      }
    }
  }
  #x-icon {
    color: $dark-blue;
    position: absolute;
    margin: 10px;

    &:hover {
      color: $teal;
      cursor: pointer;
    }
  }
}
