.report-form {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  width: 100%;

  span {
    font-size: 18px;
  }

  #date-picker {
    margin-bottom: 15px;
  }

  .textarea {
    margin-top: 3%;
    textarea {
      width: 100%;
      font-family: "Poppins", sans-serif;
      border-radius: 10px;

      &::placeholder {
        opacity: 0.4;
        padding: 5px;
      }
    }
  }
  select,
  input {
    margin-left: 1%;
    border-radius: 5px;
  }
}

.react-datepicker__input-container input {
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.react-datepicker__input-container {
  margin-left: 1%;
}

#form-status {
  margin-left: 1%;
}
